<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.botdarr">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n" />
        </Console>
        <RollingFile name="BotLog">
            <FileName>logs/bot.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="AuditLog">
            <FileName>logs/audit.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.audit.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="RadarrLog">
            <FileName>logs/radarr.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="SonarrLog">
            <FileName>logs/sonarr.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="NetworkLog">
            <FileName>logs/network.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="SlackLog">
            <FileName>logs/slack.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="DiscordLog">
            <FileName>logs/discord.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="MatrixLog">
            <FileName>logs/matrix.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="TelegramLog">
            <FileName>logs/telegram.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %scrubbedMsg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.botdarr" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="BotLog" />
        </Logger>

        <Logger name="com.botdarr.api.radarr" level="info" additivity="false">
            <AppenderRef ref="RadarrLog" />
        </Logger>

        <Logger name="com.botdarr.api.sonarr" level="info" additivity="false">
            <AppenderRef ref="SonarrLog" />
        </Logger>

        <Logger name="com.botdarr.connections" level="info" additivity="false">
            <AppenderRef ref="NetworkLog" />
        </Logger>

        <Logger name="AuditLog" level="info" additivity="false">
            <AppenderRef ref="AuditLog" />
        </Logger>

        <Logger name="com.botdarr.clients.slack" level="info" additivity="false">
            <AppenderRef ref="SlackLog" />
        </Logger>

        <Logger name="com.botdarr.clients.discord" level="info" additivity="false">
            <AppenderRef ref="DiscordLog" />
        </Logger>

        <Logger name="com.botdarr.clients.telegram" level="info" additivity="false">
            <AppenderRef ref="TelegramLog" />
        </Logger>

        <Logger name="com.botdarr.clients.matrix" level="info" additivity="false">
            <AppenderRef ref="MatrixLog" />
        </Logger>

        <Root level="all" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="BotLog" />
            <AppenderRef ref="RadarrLog" />
            <AppenderRef ref="SonarrLog" />
            <AppenderRef ref="AuditLog" />
            <AppenderRef ref="SlackLog" />
            <AppenderRef ref="DiscordLog" />
            <AppenderRef ref="TelegramLog" />
            <AppenderRef ref="MatrixLog" />
        </Root>
    </Loggers>
</Configuration>