<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="BotLog">
            <FileName>logs/bot.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="AuditLog">
            <FileName>logs/audit.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.audit.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="RadarrLog">
            <FileName>logs/radarr.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="SonarrLog">
            <FileName>logs/sonarr.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="NetworkLog">
            <FileName>logs/network.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.botdar" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="BotLog" />
        </Logger>

        <Logger name="com.botdar.api.radarr" level="info" additivity="false">
            <AppenderRef ref="RadarrLog" />
        </Logger>

        <Logger name="com.botdar.api.sonarr" level="info" additivity="false">
            <AppenderRef ref="SonarrLog" />
        </Logger>

        <Logger name="com.botdar.connections" level="info" additivity="false">
            <AppenderRef ref="NetworkLog" />
        </Logger>

        <Logger name="AuditLog" level="info" additivity="false">
            <AppenderRef ref="AuditLog" />
        </Logger>

        <Root level="all" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="BotLog" />
            <AppenderRef ref="RadarrLog" />
            <AppenderRef ref="SonarrLog" />
            <AppenderRef ref="AuditLog" />
        </Root>
    </Loggers>
</Configuration>